/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body.lock{
	overflow: hidden;
}
.contaner{
	max-width: 1105px;
	margin: auto;
	padding: 0 15px;
}

@media (max-width: 1105px){
	.contaner{
		max-width: 970px;
	}
	.dark_background_height{
		padding-bottom: 50px;
	}
}
@media (max-width: 992px){
	.contaner{
		max-width: 750px;
	}
	.dark_background_photo{
		display: none;
	}
}
@media (max-width: 767px){
	.contaner{
		max-width: none;
	}
	.pc_input{
		display: none;
	}
	.account_hidden{
		display: none;
	}
	.hidden_menu{
		display: none;
	}
	.logo{
		z-index: 1;
	}
	.link_main{
		font-size: 26px;
	}
	.menu_icon{
		z-index: 5;
		width: 30px;
		height: 18px;
		cursor: pointer;
		display: block;
		margin-top: 48px;
		position: absolute;
		right: 20px;
		
	}
	.menu_icon span,
	.menu_icon::before,
	.menu_icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s; 
		background-color: black;
	}
	.menu_icon::before,
	.menu_icon::after {
		content: "";
	}
	.menu_icon::before{
		top: 0;
	}
	.menu_icon::after{
		bottom: 0;
	}
	.menu_icon span{
		top: 50%;
		transform: scale(1) translate(0, -50%);
	}
	.menu_icon.active span {
		transform: scale(0) translate(0px, -50%);
	}
	.menu_icon.active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}
	.menu_icon.active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu_button{
		margin: 20px 0;
	}
	.menu_burger{
		font-family: verdana;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		line-height: 27px;
		clip: auto;
		height: 100%;
		margin: 0;
		white-space: normal;
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		top: -100%;
		background-color: rgba(255, 255, 255, 0.9);
		padding: 100px 30px 30px 30px;
		transition: top 0.3s ease 0s;
	}
	.menu_burger.active{
		top: 0;
		visibility: visible;
	}
	.phone_input{
		font-family: Roboto;
		height: 30px;
		margin: 20px auto;
		font-size: 18px;
		line-height: 130.09%;
		border: 1px solid #262626;
		width: 80%;
		padding-left: 8px;
	}
	.phone_input_block{
		text-align: center
	}
	.phone_account{
		font-family: Roboto;
		font-size: 22px;
		line-height: 115%;
		font-style: normal;
		font-weight: normal;
		color: white;
		transition: background 0.8s, color 0.8s, box-shadow 1s;
		width: 150px;
		height: 50px;
		border: 2px solid #F0940A;
		background-color: #F0940A;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		margin: 30px auto;

	}
	.phone_account:hover{
		color: #F0940A;
		background-color: white;
	}
	.phone_account_block{
		text-align: center;
	}
}

.flex{
	display: flex;
}
.icon_logo{
	width: 53px;
	padding: 20px 0 30px 0;

}
.name_logo{
	font-family: Roboto;
	font-size: 30px;
	font-weight: 400;
	padding-top: 40px;
	margin-left: 15px;
}
.link_main{
	color: black;
}
.pc_input{
	font-family: Roboto;
	height: 30px;
	margin: 42px 0 0 15px;
	font-size: 18px;
	line-height: 130.09%;
	border: 1px solid lightgrey;
	padding-left: 5px;
	width: 70%;

}
.pc_input::placeholder{
	font-family: Roboto;
	font-size: 15px;
	line-height: 130.09%;
}
.pc_input_width{
	flex-grow:1;
	text-align: center;
}
.account{
	font-family: Roboto;
	font-size: 22px;
	line-height: 115%;
	font-style: normal;
	font-weight: normal;
	color: white;
	transition: background 0.8s, color 0.8s, box-shadow 1s;
	width: 160px;
	height: 60px;
	margin: 25px 0 0 0px;
	border: 2px solid #F0940A;
	background-color: #F0940A;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.account:hover{
	color: #F0940A;
	background-color: white;
}
.light_grey_background{
	background-color: #F1F1F1;
	background-size: 100%;
}
.menu{
	font-family: Verdana;
	font-size: 18px;
	line-height: 21px;
	padding: 20px 0;

}
.menu_burger{
	position: fixed;
	width: 100%;
	visibility: hidden;
}
.menu_button{
	flex-grow: 1;
	text-align: center;
}
.link_color{
	color: black;
}
.link_color:hover{
	color: #F0940A;
	transition: color 0.3s;
}
.pc_input{
	font-family: Roboto;
	height: 30px;
	margin: 42px 0 0 15px;
	font-size: 18px;
	line-height: 130.09%;
	border: 1px solid lightgrey;
	padding-left: 5px;
	width: 70%;

}
.pc_input::placeholder{
	font-family: Roboto;
	font-size: 15px;
	line-height: 130.09%;
}
.pc_input_width{
	flex-grow:1;
	text-align: center;
}
.return{
	font-family: Verdana;
	font-size: 14px;
	line-height: 16px;
	color: #979494;
	margin: 20px;
}
.return_light_grey{
	color: #979494;
	padding: 20px;
}
.photo_product img{
	width: 100%;
	max-width: 500px;
	align-self:flex-start;
}
.product_main{
	flex-wrap:wrap;
	justify-content:flex-end;
}
.name_product{
	font-family: Roboto;
	font-size: 26px;
	line-height: 28px;
	color: black;
	flex: 0 1 100%;
	text-align: center;
	margin: 30px 0 50px;
}
.price_product{
	font-family: Roboto;
	font-size: 30px;
	line-height: 35px;
	color: black;
	align-self:flex-end;
	flex: 0 1 70%;
	text-align: right;
}
.presence{
	font-family: Roboto;
	font-size: 16px;
	line-height: 19px;
	color: black;
	align-self:flex-end;
	flex: 0 1 30%;
	text-align: right;
}
.product_check{
	width: 20px;
	height: 20px;
}
.amount_price{
	justify-content:flex-end;
}
.amount_product{
	font-size: 22px;
	line-height: 140%;
	width: 60px;
	height: 50px;
	border: 1px solid #262626;
	margin: 26px 20px 0 0;
	text-align: center;
}
.basket_add{
	font-size: 16px;
	line-height: 140%;
	max-width: 180px;
	height: 50px;
}

.specification_product{
 	margin-bottom: 20px;
}
.lord_feature{
	border: 1px solid #262626;

}
.menu_product{
	font-family: Roboto;
	font-size: 18px;
	line-height: 21px;
	flex: 1 0 50%;
	text-align: center;
	padding: 20px 0;
	background: #E5E5E5;
	color: #F0940A;
	border-bottom: 1px solid #262626;
	margin: 0 auto;
}
.menu_product.active {
	background: #262626;
}
.description{
	padding: 30px 50px;
	font-family: Roboto;
	font-size: 17px;
	line-height: 22px;
}
.feature_product{
	font-family: Roboto;
	display: block;
	margin: 20px 40px;
}
.feature_product li {
	font-size: 15px;
	line-height: 18px;
}
.feature_left{
	margin-right: -20%;
	width: 79%;
	vertical-align: top;
	overflow: hidden;
	display: inline-block;
	letter-spacing: normal;
}
.feature_left:after {
	content: '';
	display: inline-block;
	width: 100%;
	margin: 0 -99% 0 3px;
	vertical-align: baseline;
	border-bottom: 1px dashed #888;
}
.feature_right{
	display: inline-block;
	letter-spacing: normal;
	padding-left: 3px;
	margin-left: 20%;
	width: 20%;
	vertical-align: bottom;
}
.tabs{
	display: none;
}
.tabs.active{
	display: block;
}
.dark_background{
	background: #262626;
}
h1{
	font-family: Roboto;
	font-size: 30px;
	line-height: 35px;
	color: #F0940A;
	padding: 40px 0;
}
.product_concomitant{
	display: flex;
	flex-wrap: wrap;
}
.product{
	flex: 0 1 25%;
	padding:0 12px;
	margin: 50px auto;
}
.photo_product_concomitant{
	width: 220px;
	height: 220px;
	border: 1px solid #E5E5E5;
	display: inline-block;
	overflow: hidden;
	transition: 0.8s;
}

.photo_product_concomitant:hover{
	transform: scale(1.12);
}
.photo_product_one{
	background: url('../img/socket.jpg') 0 0/220px 220px no-repeat;
}
.photo_product_two{
	background: url('../img/gofra.png') 0 0/220px 220px no-repeat;
	background-color: white;
}
.name_product_concomitant{
	color: white;
	font-family: Roboto;
	font-size: 18px;
	line-height: 140%;
	font-weight: 500;
	padding: 20px 0 0 10px;
	max-width: 220px;

}
.price_product_concomitant{
	font-family: Roboto;
	font-size: 20px;
	line-height: 140%;
	color: #F0940A;
	padding-left: 10px;
	font-weight: 700;
}

.popup{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all	0.7s ease 0s;
}
.popup.open {
	opacity: 1;
	visibility: visible;
}
.popup__body{
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup__content{
	background-color: white;
	color: black;
	max-width: 800px;
	padding: 30px;
	position: relative;
}
.popup__close{
	font-family: Roboto;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: #000;
}
.popup__title{
	font-family: Roboto;
	font-size: 29px;
	margin: 0 0 1em 0;
	text-align: center;
}
.popup__account{
	margin: 0 auto;
}
.popup__account input{
	border: 1px solid black;
	font-size: 15px;
}
.loggin{
	font-size: 20px;
	text-align: center;
}
.user_name{
	padding-left: 5px;
}
.user_pass{
	padding-left: 5px;
	margin: 18px 0 30px;
}
.popups_nexts{
	font-family: Roboto;
	font-size: 12px;
}
.recovery_pass{
	margin-right: 35px;
}

footer{
	font-family: Roboto;
	font-weight: bold;
	font-size: 14px;
	line-height: 29px;
	letter-spacing: 0.07em;
	text-align: center;
	padding: 20px;
}

.lorem{
	font-size: 14px;
	line-height: 29px;
	font-family: Roboto;
	font-weight: bold;
	margin: 50px;
}

@media (max-width: 767px){
	.product_info_transfer{
		flex-wrap:wrap-reverse;
	}
	.price_product{
		text-align: center;

	}
	.presence{
		display: flex;
		text-align: left;
	}
	.amount_price{
		justify-content: center;
	}
	.description{
		padding: 15px 20px;
	}
	.feature_product{
		margin: 20px 5px;
	}
	.feature_left{
		margin-right: -20%;
		width: 80%;
		vertical-align: top;
		overflow: hidden;
		display: inline-block;
		letter-spacing: normal;
	}
	.feature_right{
		display: inline-block;
		letter-spacing: normal;
		padding-left: 3px;
		margin-left: 20%;
		width: 15%;
		vertical-align: bottom;
	}
	.feature_product li {
		font-size: 14px;
		line-height: 12px;
	}
	header{
		border-bottom: 1px solid #E5E5E5;
	}
}